In [10]:
using NCDatasets
using PhysOcean
using DIVAnd

## Reading WOD data

In [15]:
woddatadir = "/data/SeaDataCloud/NorthSea/WOD/"
varname = "Salinity"

"Salinity"

In [16]:
@time obsvalwod, obslonwod, obslatwod, obsdepthwod, obstimewod, obsidwod = 
    WorldOceanDatabase.load(Float64, woddatadir, varname);

118.361342 seconds (169.93 M allocations: 24.397 GiB, 7.97% gc time)

In [28]:
@info("Writing the data and coordinates into an observation file")
DIVAnd.saveobs(joinpath(woddatadir, "NorthSea_obs_wod.nc"), varname, obsvalwod,
              (obslonwod, obslatwod, obsdepthwod, obstimewod), obsidwod)

┌ Info: Writing the data and coordinates into an observation file
└ @ Main In[28]:1

NCDatasets.NetCDFError: NCDatasets.NetCDFError(-42, "NetCDF: String match to name in use")

In [25]:
@time obsvalwod2,obslonwod2, obslatwod2, obsdepthwod2, obstimewod2,obsidwod2 = DIVAnd.loadobs(Float64,"./test2.nc",varname);

  6.306373 seconds (20.52 M allocations: 3.379 GiB, 55.02% gc time)

## One file...

In [2]:
datafile = "/data/SeaDataCloud/NorthSea/WOD/CTD/ocldb1558431114.3020.CTD.nc"

"/data/SeaDataCloud/NorthSea/WOD/CTD/ocldb1558431114.3020.CTD.nc"

In [3]:
ds = Dataset(datafile)

Dataset: /data/SeaDataCloud/NorthSea/WOD/CTD/ocldb1558431114.3020.CTD.nc
Group: /

Dimensions
   casts = 79242

Variables
  lat   (79242)
    Datatype:    Float32
    Dimensions:  casts
    Attributes:
     standard_name        = latitude
     long_name            = latitude
     lat_units            = degrees_north

  lon   (79242)
    Datatype:    Float32
    Dimensions:  casts
    Attributes:
     standard_name        = longitude
     long_name            = longitude
     lon_units            = degrees_east

  time   (79242)
    Datatype:    Float64
    Dimensions:  casts
    Attributes:
     standard_name        = time
     long_name            = time
     units                = days since 1770-01-01 00:00:00

  cast   (79242)
    Datatype:    Int32
    Dimensions:  casts
    Attributes:
     comment              = World Ocean Database Unique Identifier

In [4]:
timevec = ds["time"]

79242-element NCDatasets.CFVariable{Union{Missing, DateTime, AbstractCFDateTime, Number},1,NCDatasets.Variable{Float64,1},NCDatasets.Attributes}:
 1972-05-20T12:00:00
 1972-06-13T11:03:45
 1972-06-14T16:07:30
 1972-06-21T14:26:15
 1972-06-26T15:33:45
 1972-06-28T14:15:00
 1972-07-05T11:26:15
 1972-07-06T11:03:45
 1972-07-07T15:00:00
 1972-07-09T17:26:15
 1972-07-12T09:45:00
 1972-07-13T08:15:00
 1972-07-26T08:15:00
 ⋮
 2017-12-21T02:37:30
 2017-12-21T03:22:30
 2017-12-21T04:07:30
 2017-12-21T05:26:15
 2017-12-21T06:00:00
 2017-12-21T07:52:30
 2017-12-21T09:00:00
 2017-12-21T09:45:00
 2017-12-21T10:41:15
 2017-12-21T11:48:45
 2017-12-21T12:45:00
 2017-12-21T13:52:30